@media only screen and (max-width: 960px) {
    .image_swap_disappear {
        display: none;
    }
}

@media only screen and (min-width: 960px) {
    .image_swap_appear {
        display: none;
    }
}