@media only screen and (min-width: 730px) {
    .responsive_image {
        float: left; 
        max-height: 25vh; 
        max-width: 25vw
    }
}

@media only screen and (max-width: 730px) {
    .responsive_image {
        max-height: 50vh; 
        max-width: 100vw
    }
}

@media only screen and (max-width: 730px) {
    .conditional_flex {
        display: flex;
        justify-content: center;
    }
}

@media only screen and (min-width: 600px) {
    .responsive_card {
        width: 82vw;
    }
}

@media only screen and (max-width: 600px) {
    .responsive_card {
        width: 90vw;   
    }
}