@inject NavigationManager NavManager

<MudPaper 
    Elevation="1" 
    Style="background-color: #003c6c;"
    Class="px-md-20 px-sm-10 px-5 py-1 py-sm-0"
    id="Contact"
>
    <MudStack Row="true" Class="py-5">
        <MudImage Src="https://i.imgur.com/0idiu8N.jpeg" 
            ObjectFit="ObjectFit.Contain" 
            Height="250"
            Class="rounded-lg mt-3 header_disappear" 
            Alt=""
        />
        <div class="flex-grow-1 header_disappear" />
        @* <div style="display: flex"> *@
        <MudStack>
            <AnchorLink Typo="Typo.h5" Color="Color.Secondary" Class="ml-3 header_text_swap_disappear" Href="AboutMe">About Me</AnchorLink>
            <AnchorLink Typo="Typo.h5" Color="Color.Secondary" Class="ml-3 header_text_swap_appear" Href="AboutMe">About</AnchorLink>
            <AnchorLink Typo="Typo.h5" Color="Color.Secondary" Class="ml-3" Href="Skills">Skills</AnchorLink>
            <AnchorLink Typo="Typo.h5" Color="Color.Secondary" Class="ml-3 header_text_swap_disappear" Href="Experience">Experience</AnchorLink>
            <AnchorLink Typo="Typo.h5" Color="Color.Secondary" Class="ml-3 header_text_swap_appear" Href="Experience">Work</AnchorLink>
            <AnchorLink Typo="Typo.h5" Color="Color.Secondary" Class="ml-3" Href="Projects">Projects</AnchorLink>
        </MudStack>
        <MudStack>
            <MudText Typo="Typo.h5" Color="Color.Secondary" Class="header_text_swap_disappear">jiemasrubio@yahoo.com</MudText>
            <MudText Typo="Typo.h6" Color="Color.Secondary" Class="header_text_swap_appear">jiemasrubio@yahoo.com</MudText>
            <MudText Typo="Typo.h5" Color="Color.Secondary">(916) 743-0617</MudText>
            <div style="display: flex; flex-wrap: wrap;">
                <MudIconButton Icon="@Icons.Material.Filled.Email" Title="jiemasrubio@yahoo.com" 
                    Color="Color.Secondary" Href="mailto:jiemasrubio@yahoo.com" aria-label="Send email to jiemasrubio@yahoo.com"
                />
                <MudIconButton Icon="@Icons.Material.Filled.Phone" Title="(916)743-0617" 
                    Color="Color.Secondary" Href="tel:9167430617" aria-label="Call Jiemas's phone number, 9167430617"
                />
                <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Title="GitHub" 
                    Color="Color.Secondary" Href="https://github.com/Jiemas" aria-label="Jiemas's Git Hub Account"
                />
                <MudIconButton Icon="@Icons.Custom.Brands.LinkedIn" Title="LinkedIn" 
                    Color="Color.Secondary" Href="https://www.linkedin.com/in/jiemas-rubio/" aria-label="Jiemas's LinkedIn Account"
                />
            </div>
            <MudSpacer/>
            <div style="display: flex; justify-content: end;">
                <AnchorLink Typo="Typo.subtitle1" Color="Color.Secondary" Class="ml-3" Href="start">Return to Top</AnchorLink>
            </div>
        </MudStack>
        @* </div> *@
    </MudStack>
</MudPaper>

@code {

  private string relativePath = null!;
  protected override void OnInitialized()
  {
      relativePath = NavManager.ToBaseRelativePath(NavManager.Uri).Split("#")[0];
  }
}